@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kaushan+Script&family=Lexend+Deca:wght@100;400&family=Montserrat:wght@200;300;600&family=Outfit:wght@300;400;600&family=Permanent+Marker&family=Qwigley&family=Road+Rage&family=Shalimar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    width: 1440px;
    height: 900px;
    background-color:hsl(217, 54%, 11%) ;
    display: grid;
    place-items: center;
}

footer {
    position: absolute;
    bottom: 0;
}
footer a:visited{
    color: blue;
}
